#wrapper-hero {
    padding: 4rem 0;

    .hero-title {
        line-height: normal;
        font-weight: $font-weight-bolder;
    }
}

@include media-breakpoint-down(md) {
    #wrapper-hero {
        padding: 0;
        margin-bottom: 1rem;
    }
}