html, html[data-theme="light"] {
    --main-background-color: #{$body-bg};
    --main-text-color: #{$body-color};
    --nav-link-color: #{$nav-link-color};
    --navbar-nav-link-color: #{$navbar-nav-link-color};
    --blockquote-border-color: #{$blockquote-border-color};
    --offcanvas-bg-color: #{$offcanvas-bg-color};
}

html[data-theme="dark"] {
    --main-background-color: #{$body-dark-bg};
    --main-text-color: #{$body-dark-color};
    --nav-link-color: #{$nav-link-dark-color};
    --navbar-nav-link-color: #{$navbar-nav-link-dark-color};
    --blockquote-border-color: #{$blockquote-border-dark-color};
    --offcanvas-bg-color: #{$offcanvas-bg-dark-color};
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="light"] {
        --main-background-color: #{$body-bg};
        --main-text-color: #{$body-color};
        --nav-link-color: #{$nav-link-color};
        --navbar-nav-link-color: #{$navbar-nav-link-color};
        --blockquote-border-color: #{$blockquote-border-color};
        --offcanvas-bg-color: #{$offcanvas-bg-color};
    }
    
    html[data-theme="dark"] {
        --main-background-color: #{$body-dark-bg};
        --main-text-color: #{$body-dark-color};
        --nav-link-color: #{$nav-link-dark-color};
        --navbar-nav-link-color: #{$navbar-nav-link-dark-color};
        --blockquote-border-color: #{$blockquote-border-dark-color};
        --offcanvas-bg-color: #{$offcanvas-bg-dark-color};
    }
}

html, body {
    height: 100%;
}

body {
    background-color: var(--main-background-color);
	color: var(--main-text-color);
	overflow-x: hidden;
    transition: background-color 500ms;
}

table {
	@extend .table;
	@extend .table-bordered;
    color: var(--main-text-color);
}

.table > :not(:first-child), .entry-content table > :not(:first-child) {
    border-top: inherit;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.wrapper {
	padding: $spacer * 1.5 0;
}

.site {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container:focus-visible {
    outline: 0;
}

.button-claps {
	font-size: $icon-font-size-base;
}

article img,
figure,
img,
#secondary img {
	max-width: 100%;
	height: auto;
}

#wrapper-footer {
    margin-top: auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: $spacer * 1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include media-breakpoint-down(md) {
    .wrapper {
        padding: 0;
    }
}