.theme-toggle--button {
	border: none;
	outline: none;
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: $theme-toggle-shape-size;
	width: $theme-toggle-button-diameter;
	height: $theme-toggle-button-diameter;
	background: transparent;

	span {
		display: inline-block;
	}

	.rays--container {
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		.ray {
			position: absolute;
			border-radius: 50%;
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(90deg);
			}
			&:nth-child(4) {
				transform: rotate(-45deg);
			}
		}
	}

	.theme-toggle--shape {
		z-index: 1;
		position: absolute;
		border-radius: 50%;
		border: 1px solid $light;
		transition: all 500ms;
	}

	.theme-toggle--shape.moon {
		width: 1.6667em;
		height: 1.6667em;
		border-color: transparent;
		background-color: $dark;
		box-shadow: inset -0.5em -0.5em $gray-400;
		~ {
			.rays--container {
				.ray {
					width: 0;
					height: 0;
				}
			}
		}
	}

	.theme-toggle--shape.sun {
		width: 1.3336em;
		height: 1.3336em;
		background-color: $gray-700;
		box-shadow: none;
		~ {
			.rays--container {
				.ray {
					width: 0.334em;
					height: 1.6667em;
					background-color: $gray-700;
				}
			}
		}
	}
}
