.blockquote {
    padding-left: $blockquote-padding-x;
    border-left: $blockquote-border-width solid var(--blockquote-border-color);
}

.ellipsis-separator {
    padding: $spacer * 1.5 0;
    text-align: center;

    .ellipsis-dot {
        display: inline-block;
        height: 3px;
        width: 3px;
        background-color: var(--main-text-color);
        border-radius: $border-radius-circle;
        
        &::after {
            content: "";
        }

        &:not(:last-child) {
            margin-right: $spacer;
        }
    }
}