<div class="aksara-wrapper grid" style="--bs-columns: 20">
    <div class="g-col-4 g-col-md-5 d-flex flex-column">
        <div class="aksara-name mt-auto">Nga Lêlêt Raswadi</div>
        <div class="aksara-text d-block text-center">ꦋ</div>
        <div class="aksara-transliteration">lêu</div>
        <div class="aksara-description">(pengganti ꦭꦼꦴ)</div>
    </div>

    <div class="g-col-4 g-col-md-5 d-flex flex-column">
        <div class="aksara-name mt-auto">Pa Cêrêt-Tarung</div>
        <div class="aksara-text d-block text-center">ꦉꦴ</div>
        <div class="aksara-transliteration">rêu</div>
        <div class="aksara-description">(pengganti ꦫꦼꦴ)</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Ganten Lainnya</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦢꦼꦴ</div>
                <div class="aksara-transliteration">dêu</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦋ</div>
                <div class="aksara-transliteration">lêu</div>
            </div>
        </div>
        <div class="aksara-translation">dêulêu</div>
        <div class="aksara-description">(bhs Sunda)</div>
    </div>
–
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦥꦶ</div>
                <div class="aksara-transliteration">pi</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦉꦴ</div>
                <div class="aksara-transliteration">rêu</div>
            </div>
        </div>
        <div class="aksara-translation">pirêu</div>
        <div class="aksara-description">(bhs Sunda)</div>
    </div>
</div>