<h4>Aksara Nglegena Beserta Pasangannya</h4>

<div class="aksara-wrapper grid" style="--bs-columns: 5;">
    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦲ">ꦲ꧀ꦲ</span>
        </div>
        <div class="aksara-transliteration">a/ha</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦤ꧀ꦤ">ꦤ꧀ꦤ</span>
        </div>
        <div class="aksara-transliteration">na</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦕ꧀ꦕ">ꦕ꧀ꦕ</span>
        </div>
        <div class="aksara-transliteration">ca</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦫ꧀ꦫ">ꦫ꧀ꦫ</span>
        </div>
        <div class="aksara-transliteration">ra</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦏ꧀ꦏ">ꦏ꧀ꦏ</span>
        </div>
        <div class="aksara-transliteration">ka</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦢ꧀ꦢ">ꦢ꧀ꦢ</span>
        </div>
        <div class="aksara-transliteration">da</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦠ꧀ꦠ">ꦠ꧀ꦠ</span>
        </div>
        <div class="aksara-transliteration">ta</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦱ">ꦱ꧀ꦱ</span>
        </div>
        <div class="aksara-transliteration">sa</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦮ꧀ꦮ">ꦮ꧀ꦮ</span>
        </div>
        <div class="aksara-transliteration">wa</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦭ꧀ꦭ">ꦭ꧀ꦭ</span>
        </div>
        <div class="aksara-transliteration">la</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦥ">ꦥ꧀ꦥ</span>
        </div>
        <div class="aksara-transliteration">pa</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦝ꧀ꦝ">ꦝ꧀ꦝ</span>
        </div>
        <div class="aksara-transliteration">dha</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦗ꧀ꦗ">ꦗ꧀ꦗ</span>
        </div>
        <div class="aksara-transliteration">ja</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦪ꧀ꦪ">ꦪ꧀ꦪ</span>
        </div>
        <div class="aksara-transliteration">ya</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦚ">ꦚ꧀ꦚ</span>
        </div>
        <div class="aksara-transliteration">nya</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦩ꧀ꦩ">ꦩ꧀ꦩ</span>
        </div>
        <div class="aksara-transliteration">ma</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦒ꧀ꦒ">ꦒ꧀ꦒ</span>
        </div>
        <div class="aksara-transliteration">ga</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦧ꧀ꦧ">ꦧ꧀ꦧ</span>
        </div>
        <div class="aksara-transliteration">ba</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦛ꧀ꦛ">ꦛ꧀ꦛ</span>
        </div>
        <div class="aksara-transliteration">tha</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦔ꧀ꦔ">ꦔ꧀ꦔ</span>
        </div>
        <div class="aksara-transliteration">nga</div>
    </div>
</div>

{%- include keterangan-warna-aksara.html -%}

<h4>Contoh Penggunaan Aksara Nglegena</h4>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block">ꦢ</div>
                <div class="aksara-transliteration">da</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block">ꦫ</div>
                <div class="aksara-transliteration">ra</div>
            </div>
        </div>
        <div class="aksara-translation">merpati</div>
    </div>

–
    
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block">ꦧ</div>
                <div class="aksara-transliteration">ba</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block">ꦤ꧀ꦝ</div>
                <div class="aksara-transliteration">ndha</div>
            </div>
        </div>
        <div class="aksara-translation">harta</div>
    </div>

–
    
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block">ꦲ</div>
                <div class="aksara-transliteration">a</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block">ꦏ꧀ꦱ</div>
                <div class="aksara-transliteration">ksa</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block">ꦫ</div>
                <div class="aksara-transliteration">ra</div>
            </div>
        </div>
        <div class="aksara-translation">aksara</div>
    </div>
</div>