<h4>Aksara Murda Beserta Pasangannya</h4>

<div class="aksara-wrapper grid" style="--bs-columns: 5; --bs-gap: 0;">
    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦟ꧀ꦟ">ꦟ꧀ꦟ</span>
        </div>
        <div class="aksara-transliteration">na</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦑ꧀ꦑ">ꦑ꧀ꦑ</span>
        </div>
        <div class="aksara-transliteration">ka</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦡ꧀ꦡ">ꦡ꧀ꦡ</span>
        </div>
        <div class="aksara-transliteration">ta</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦯ꧀ꦯ">ꦯ꧀ꦯ</span>
        </div>
        <div class="aksara-transliteration">sa</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦦ">ꦦ꧀ꦦ</span>
        </div>
        <div class="aksara-transliteration">pa</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦘ꧀ꦘ">ꦘ꧀ꦘ</span>
        </div>
        <div class="aksara-transliteration">nya</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦓ꧀ꦓ">ꦓ꧀ꦓ</span>
        </div>
        <div class="aksara-transliteration">ga</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦨ꧀ꦨ">ꦨ꧀ꦨ</span>
        </div>
        <div class="aksara-transliteration">ba</div>
    </div>
</div>

{%- include keterangan-warna-aksara.html -%}

<h4>Contoh Penggunaan Aksara Murda</h4>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦫ</div>
                <div class="aksara-transliteration">ra</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦡ꧀ꦤ</div>
                <div class="aksara-transliteration">tna</div>
            </div>
        </div>
        <div class="aksara-translation">ratna</div>
    </div>
–
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦟ</div>
                <div class="aksara-transliteration">na</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦤ꧀ꦢ</div>
                <div class="aksara-transliteration">nda</div>
            </div>
        </div>
        <div class="aksara-translation">nanda</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦗ</div>
                <div class="aksara-transliteration">ja</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦪ</div>
                <div class="aksara-transliteration">ya</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦨ</div>
                <div class="aksara-transliteration">ba</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦪ</div>
                <div class="aksara-transliteration">ya</div>
            </div>
        </div>
        <div class="aksara-translation">jayabaya</div>
    </div>
</div>