<div class="aksara-wrapper grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦄ</div>
        <div class="aksara-transliteration">A</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦆ</div>
        <div class="aksara-transliteration">I</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦈ</div>
        <div class="aksara-transliteration">U</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦌ</div>
        <div class="aksara-transliteration">E</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦎ</div>
        <div class="aksara-transliteration">O</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Swara</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦆ</div>
                <div class="aksara-transliteration">I</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦤ꧀ꦝꦺꦴ</div>
                <div class="aksara-transliteration">ndo</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦤꦺ</div>
                <div class="aksara-transliteration">ne</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦱꦾ</div>
                <div class="aksara-transliteration">sya</div>
            </div>
        </div>
        <div class="aksara-translation">Indonesia</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦄ</div>
                <div class="aksara-transliteration">A</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦩꦺ</div>
                <div class="aksara-transliteration">me</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦫꦶ</div>
                <div class="aksara-transliteration">ri</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦏ</div>
                <div class="aksara-transliteration">ka</div>
            </div>
        </div>
        <div class="aksara-translation">Amerika</div>
    </div>
</div>