<div class="aksara-wrapper grid" style="--bs-columns: 20">
    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Nga Lêlêt</div>
        <div class="aksara-text d-block text-center">ꦊ</div>
        <div class="aksara-transliteration">lê</div>
        <div class="aksara-description">(pengganti ꦭꦼ)</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Pa Cêrêt</div>
        <div class="aksara-text d-block text-center">ꦉ</div>
        <div class="aksara-transliteration">rê</div>
        <div class="aksara-description">(pengganti ꦫꦼ)</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Ganten</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦊ</div>
                <div class="aksara-transliteration">lê</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦩꦸ</div>
                <div class="aksara-transliteration">mu</div>
            </div>
        </div>
        <div class="aksara-translation">gêmuk</div>
    </div>
–
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦉ</div>
                <div class="aksara-transliteration">rê</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦏ</div>
                <div class="aksara-transliteration">ka</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦱ</div>
                <div class="aksara-transliteration">sa</div>
            </div>
        </div>
        <div class="aksara-translation">sêngsara</div>
    </div>
</div>