<div class="aksara-wrapper grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧑</div>
        <div class="aksara-transliteration">1</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧒</div>
        <div class="aksara-transliteration">2</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧓</div>
        <div class="aksara-transliteration">3</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧔</div>
        <div class="aksara-transliteration">4</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧕</div>
        <div class="aksara-transliteration">5</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧖</div>
        <div class="aksara-transliteration">6</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧗</div>
        <div class="aksara-transliteration">7</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧘</div>
        <div class="aksara-transliteration">8</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧙</div>
        <div class="aksara-transliteration">9</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">꧐</div>
        <div class="aksara-transliteration">0</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Angka</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
            <div class="d-flex justify-content-center mb-2">
                <div class="d-inline-block me-1">
                    <div class="aksara-text d-block text-center">꧇꧑꧇</div>
                    <div class="aksara-transliteration">1</div>
                </div>
                <div class="d-inline-block me-1">
                    <div class="aksara-text d-block text-center">ꦫꦸ</div>
                    <div class="aksara-transliteration">ru</div>
                </div>
                <div class="d-inline-block me-1">
                    <div class="aksara-text d-block text-center">ꦥꦶ</div>
                    <div class="aksara-transliteration">pi</div>
                </div>
                <div class="d-inline-block">
                    <div class="aksara-text d-block text-center">ꦪꦃ</div>
                    <div class="aksara-transliteration">yah</div>
                </div>
            </div>
            <div class="aksara-translation">1 rupiah</div>
        </div>
    –    
         <div class="aksara-example">
            <div class="d-flex justify-content-center mb-2">
                <div class="d-inline-block">
                    <div class="aksara-text d-block text-center">꧒꧐꧒꧒</div>
                    <div class="aksara-transliteration">2022</div>
                </div>
            </div>
            <div class="aksara-translation">2022</div>
        </div>
    </div>