<div class="wrapper" id="wrapper-footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                    {%- include social.html -%}
                </div><!--col end -->
                <div class="col-md-6">
                    <div class="site-info">
                        <span> Dibuat dengan Sepenuh Hati <span class="sep"> | </span>© 2021 - <a href="https://adityarahmanda.github.io">Aditya Rahmanda</a> </span>
                    </div><!-- .site-info -->
                </div><!--col end -->
            </div><!-- row end -->
        </div><!-- container end -->
    </footer><!-- #colophon -->
</div>