{% assign page_language = page.collection | default: page.translation_reference | default: "none" %}
{% assign translations = site.translations[page_language] %}
<header id="wrapper-navbar">
    <nav id="main-nav" class="navbar navbar-expand-md" aria-labelledby="main-nav-label">
        <div class="container">
            <a class="navbar-brand" rel="home" href="{{ translations.home_path | relative_url }}" itemprop="url">{{ site.title | escape }}</a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasRight" aria-controls="offcanvasRight" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-nav offcanvas offcanvas-end ms-auto" tabindex="-1" id="navbarOffcanvasRight" aria-labelledby="navbarOffcanvasRightLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn btn-offcanvas-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
                        <fa class="fa fa-x"></fa>
                    </button>
                </div>
                <div class="offcanvas-body">
                    <div class="menu-primary-menu-container">
                        <ul id="main-menu" class="navbar-nav">
                            {%- if translations.navigations.size > 0 -%}
                            {%- for item in translations.navigations -%}
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="nav-item">
                                <a title="{{ item.label | escape }}" href="{{ item.path | relative_url }}" class="nav-link">{{ item.label | escape }}</a>
                            </li>
                            {%- endfor -%}
                            {%- endif -%}

                            <li class="nav-item">
                                <button class="theme-toggle--button" aria-label="Toggle Theme" onclick="toggleTheme()">
                                    <span class="theme-toggle--shape moon"></span>
                                    <span class="rays--container">
                                        <span class="ray"></span>
                                        <span class="ray"></span>
                                        <span class="ray"></span>
                                        <span class="ray"></span>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .container(-fluid) -->
    </nav><!-- .site-navigation -->
</header>