<div class="aksara-wrapper grid" style="--bs-columns: 12">
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Lingsa</div>
        <div class="aksara-text-small d-block text-center">꧈</div>
        <div class="aksara-description">Tanda baca pemisah kalimat, sebagaimana koma (,)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Lungsi</div>
        <div class="aksara-text-small d-block text-center">꧉</div>
        <div class="aksara-description">Tanda baca penutup kalimat, sebagaimana titik (.)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Adêg</div>
        <div class="aksara-text-small d-block text-center">꧊</div>
        <div class="aksara-description">Tanda baca pembuka paragraf</div>
    </div>
    
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Adêg-Adêg</div>
        <div class="aksara-text-small d-block text-center">꧋</div>
        <div class="aksara-description">Tanda baca pembuka paragraf</div>
    </div>
    
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Piseleh</div>
        <div class="aksara-text-small d-block text-center">꧌ … ꧍</div>
        <div class="aksara-description">Tanda baca untuk mengapit bagian teks yang penting, sebagaimana tanda kurung (…)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Rêrênggan</div>
        <div class="aksara-text-small d-block text-center">꧁ … ꧂</div>
        <div class="aksara-description">Tanda baca dekoratif untuk mengapit judul</div>
    </div>
    
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Pangkat</div>
        <div class="aksara-text-small d-block text-center">꧇</div>
        <div class="aksara-description">Tanda baca sebagaimana titik dua (:)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Rangkap</div>
        <div class="aksara-text-small d-block text-center">ꧏ</div>
        <div class="aksara-description">Tanda baca untuk membuat kata berulang</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Andhap</div>
        <div class="aksara-text-small d-block text-center">꧃</div>
        <div class="aksara-description">Tanda baca dekoratif pembuka surat, juga sebagai penanda status sosial pengirim surat (Andhap = Rendah)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Madya</div>
        <div class="aksara-text-small d-block text-center">꧄</div>
        <div class="aksara-description">Tanda baca dekoratif pembuka surat, juga sebagai penanda status sosial pengirim surat (Madya = Menengah)</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Luhur</div>
        <div class="aksara-text-small d-block text-center">꧅</div>
        <div class="aksara-description">Tanda baca dekoratif pembuka surat, juga sebagai penanda status sosial pengirim surat (Luhur = Tinggi)</div>
    </div>
    
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Guru</div>
        <div class="aksara-text-small d-block text-center">꧋꧆꧋</div>
        <div class="aksara-description">Tanda baca dekoratif pembuka surat, juga sebagai penanda status sosial netral pengirim surat </div>
    </div>
    
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Pancak</div>
        <div class="aksara-text-small d-block text-center">꧉꧆꧉</div>
        <div class="aksara-description">Tanda dekoratif penutup surat</div>
    </div>
        
    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Tirta Tumêtês</div>
        <div class="aksara-text-small d-block text-center">꧞꧞꧞</div>
        <div class="aksara-description">Tanda baca untuk mengoreksi kesalahan penulisan</div>
    </div>

    <div class="g-col-6 g-col-md-3">
        <div class="aksara-name">Isen-Isen</div>
        <div class="aksara-text-small d-block text-center">꧟꧟꧟</div>
        <div class="aksara-description">Tanda baca untuk mengoreksi kesalahan penulisan</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Pada</h3>

<div class="aksara-wrapper">
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧋</div>
        <div class="aksara-transliteration">​</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮ</div>
        <div class="aksara-transliteration">wa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦗꦶ</div>
        <div class="aksara-transliteration">ji</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ꧀</div>
        <div class="aksara-transliteration">k</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ꧀ꦭꦼ</div>
        <div class="aksara-transliteration">klê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦛꦶ</div>
        <div class="aksara-transliteration">thi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ꧀ꦒꦸ</div>
        <div class="aksara-transliteration">k gu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ</div>
        <div class="aksara-transliteration">la</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦗ</div>
        <div class="aksara-transliteration">ja</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮ</div>
        <div class="aksara-transliteration">wa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧈</div>
        <div class="aksara-transliteration">,</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block"> </div>
        <div class="aksara-transliteration"> </div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦸ</div>
        <div class="aksara-transliteration">lu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮꦶꦃ</div>
        <div class="aksara-transliteration">wih</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦼ</div>
        <div class="aksara-transliteration">bê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦕꦶ</div>
        <div class="aksara-transliteration">ci</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ꧀ꦱꦶꦁ</div>
        <div class="aksara-transliteration">k sing</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥꦿ</div>
        <div class="aksara-transliteration">pra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱ</div>
        <div class="aksara-transliteration">sa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦗ</div>
        <div class="aksara-transliteration">ja</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧉</div>
        <div class="aksara-transliteration">.</div>
    </div>
</div>

<blockquote class="wp-block-quote"><p>Wajik klêthik gula jawa, luwih bêcik sing prasaja.</p></blockquote>

<h3 class="wp-block-heading">Contoh Penggunaan Pada dalam Surat</h3>

<div class="aksara-wrapper">
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ</div>
        <div class="aksara-transliteration">ka</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦒꦼ</div>
        <div class="aksara-transliteration">gê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ꧀ꦲꦶ</div>
        <div class="aksara-transliteration">m i</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦸ</div>
        <div class="aksara-transliteration">bu</div>
    </div>
    
    <br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦲꦶꦁ</div>
        <div class="aksara-transliteration">ing</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦢ</div>
        <div class="aksara-transliteration">da</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦼ</div>
        <div class="aksara-transliteration">lê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ꧀</div>
        <div class="aksara-transliteration">m</div>
    </div>

    <br><br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">꧃</div>
        <div class="aksara-transliteration">​</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱꦼ</div>
        <div class="aksara-transliteration">sê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ꧀ꦧꦃ</div>
        <div class="aksara-transliteration">mbah</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥ</div>
        <div class="aksara-transliteration">pa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦔ</div>
        <div class="aksara-transliteration">nga</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦼ</div>
        <div class="aksara-transliteration">bê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ꧀ꦠꦶ</div>
        <div class="aksara-transliteration">kti</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧉</div>
        <div class="aksara-transliteration">.</div>
    </div>

    <br><br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">꧋꧆꧋</div>
        <div class="aksara-transliteration">​</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱꦼ</div>
        <div class="aksara-transliteration">sê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱ</div>
        <div class="aksara-transliteration">sa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦉꦁ</div>
        <div class="aksara-transliteration">rêng</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦔ</div>
        <div class="aksara-transliteration">a</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦱꦸ</div>
        <div class="aksara-transliteration">n su</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫ</div>
        <div class="aksara-transliteration">ra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠ꧀ꦩꦼ</div>
        <div class="aksara-transliteration">t mê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤꦶ</div>
        <div class="aksara-transliteration">ni</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ</div>
        <div class="aksara-transliteration">ka</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏꦸ</div>
        <div class="aksara-transliteration">ku</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ</div>
        <div class="aksara-transliteration">la</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦔ</div>
        <div class="aksara-transliteration">nga</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠꦸꦂ</div>
        <div class="aksara-transliteration">tur</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫꦶ</div>
        <div class="aksara-transliteration">i</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥꦶꦂ</div>
        <div class="aksara-transliteration">pir</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱ</div>
        <div class="aksara-transliteration">sa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦶ</div>
        <div class="aksara-transliteration">bi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦶꦃ</div>
        <div class="aksara-transliteration">lih</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ</div>
        <div class="aksara-transliteration">ka</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮꦺꦴ</div>
        <div class="aksara-transliteration">wo</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦠꦼ</div>
        <div class="aksara-transliteration">ntê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦤ</div>
        <div class="aksara-transliteration">na</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦏꦸ</div>
        <div class="aksara-transliteration">n ku</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ</div>
        <div class="aksara-transliteration">la</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦲꦶꦁ</div>
        <div class="aksara-transliteration">ing</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦯꦸ</div>
        <div class="aksara-transliteration">su</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫ</div>
        <div class="aksara-transliteration">ra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧ</div>
        <div class="aksara-transliteration">ba</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦪ</div>
        <div class="aksara-transliteration">ya</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠ</div>
        <div class="aksara-transliteration">ta</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦱꦃ</div>
        <div class="aksara-transliteration">nsah</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥꦶ</div>
        <div class="aksara-transliteration">pi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ</div>
        <div class="aksara-transliteration">na</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫꦶꦁ</div>
        <div class="aksara-transliteration">ring</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦔ</div>
        <div class="aksara-transliteration">a</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦫ</div>
        <div class="aksara-transliteration">n ra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦲ</div>
        <div class="aksara-transliteration">ha</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦪꦸ</div>
        <div class="aksara-transliteration">yu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮꦶ</div>
        <div class="aksara-transliteration">wi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦸ</div>
        <div class="aksara-transliteration">lu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦗꦼꦁ</div>
        <div class="aksara-transliteration">jêng</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧉</div>
        <div class="aksara-transliteration">.</div>
    </div>
    
    <br><br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">꧋</div>
        <div class="aksara-transliteration">​</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦲꦶ</div>
        <div class="aksara-transliteration">i</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦸ</div>
        <div class="aksara-transliteration">bu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧈</div>
        <div class="aksara-transliteration">,</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block"> </div>
        <div class="aksara-transliteration"> </div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦺ</div>
        <div class="aksara-transliteration">be</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦚ꧀ꦗꦁ</div>
        <div class="aksara-transliteration">njang</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦶ</div>
        <div class="aksara-transliteration">li</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧꦸꦂ</div>
        <div class="aksara-transliteration">bur</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫ</div>
        <div class="aksara-transliteration">a</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦏꦸ</div>
        <div class="aksara-transliteration">n ku</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦶ</div>
        <div class="aksara-transliteration">li</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦪꦃ</div>
        <div class="aksara-transliteration">yah</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠꦁ</div>
        <div class="aksara-transliteration">tang</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦒ</div>
        <div class="aksara-transliteration">ga</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ꧀</div>
        <div class="aksara-transliteration">l</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧇꧒꧐꧇</div>
        <div class="aksara-transliteration">20</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦢꦺ</div>
        <div class="aksara-transliteration">de</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱꦺ</div>
        <div class="aksara-transliteration">se</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ꧀ꦧꦼꦂ</div>
        <div class="aksara-transliteration">mbêr</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧇꧒꧐꧒꧒</div>
        <div class="aksara-transliteration">2022</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧈</div>
        <div class="aksara-transliteration">,</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block"> </div>
        <div class="aksara-transliteration"> </div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦆ</div>
        <div class="aksara-transliteration">in</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦱ꦳</div>
        <div class="aksara-transliteration">sya</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦄꦴ</div>
        <div class="aksara-transliteration">A</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ꧀ꦭꦃ</div>
        <div class="aksara-transliteration">llah</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏꦸ</div>
        <div class="aksara-transliteration">ku</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ</div>
        <div class="aksara-transliteration">la</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦧ</div>
        <div class="aksara-transliteration">ba</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦝꦺ</div>
        <div class="aksara-transliteration">dhe</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮꦁ</div>
        <div class="aksara-transliteration">wang</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱꦸ</div>
        <div class="aksara-transliteration">su</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ꧀ꦝ</div>
        <div class="aksara-transliteration">l dha</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠꦼꦁ</div>
        <div class="aksara-transliteration">têng</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦯꦺꦴ</div>
        <div class="aksara-transliteration">so</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭꦺꦴ</div>
        <div class="aksara-transliteration">lo</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧉</div>
        <div class="aksara-transliteration">.</div>
    </div>
    
    <br><br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">꧋</div>
        <div class="aksara-transliteration">​</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦮ</div>
        <div class="aksara-transliteration">wa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱ</div>
        <div class="aksara-transliteration">sa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ</div>
        <div class="aksara-transliteration">na</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦕꦼ</div>
        <div class="aksara-transliteration">cê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏ</div>
        <div class="aksara-transliteration">ka</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥ꧀ꦱꦼ</div>
        <div class="aksara-transliteration">p sê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ</div>
        <div class="aksara-transliteration">ma</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦠꦼ</div>
        <div class="aksara-transliteration">ntê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦫꦸ</div>
        <div class="aksara-transliteration">n ru</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩꦶ</div>
        <div class="aksara-transliteration">mi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦪꦶ</div>
        <div class="aksara-transliteration">yi</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦤ꧀ꦱꦸ</div>
        <div class="aksara-transliteration">n su</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦫ</div>
        <div class="aksara-transliteration">ra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠ꧀ꦱ</div>
        <div class="aksara-transliteration">t sa</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏꦶꦁ</div>
        <div class="aksara-transliteration">king</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦲꦶꦁ</div>
        <div class="aksara-transliteration">ing</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏꦁ</div>
        <div class="aksara-transliteration">kang</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦥꦸ</div>
        <div class="aksara-transliteration">pu</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦠꦿ</div>
        <div class="aksara-transliteration">tra</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">꧉꧆꧉</div>
        <div class="aksara-transliteration">.</div>
    </div>

    <br><br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦱꦸꦁ</div>
        <div class="aksara-transliteration">sung</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦏꦼ</div>
        <div class="aksara-transliteration">kê</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦩ꧀ꦏꦸ</div>
        <div class="aksara-transliteration">m ku</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦭ</div>
        <div class="aksara-transliteration">la</div>
    </div>
    
    <br>

    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦄ</div>
        <div class="aksara-transliteration">a</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦢꦶ</div>
        <div class="aksara-transliteration">di</div>
    </div>
    <div class="d-inline-block">
        <div class="aksara-text d-block">ꦡ꧀ꦪ</div>
        <div class="aksara-transliteration">tya</div>
    </div>
</div>

<blockquote class="wp-block-quote"><p>Kagem Ibu <br>Ing ndalem <br>Solo <br><br>Ingkang Sembah Pangabekti <br><br>Sesarengan surat menika kula ngaturi pirsa bilih kawontenan kula ing Surabaya tansah pinaringan rahayu wilujeng. <br><br>Ibu, benjang liburan kuliah tanggal 20 Desember 2022, Insya Allah kula badhe wangsul dateng Solo. <br><br>Wasana cekap semanten rumiyin surat saking ingkang putra <br><br>Sungkem kula <br>Aditya</p></blockquote>