<div class="aksara-wrapper grid" style="--bs-columns: 3">
    <div class="g-col-md-1 g-col-3">
        <div class="aksara-name">Purwa Pada</div>
        <div class="aksara-text-small d-block text-center mb-5">꧅ꦧ꧀ꦖ꧅</div>
        <div class="aksara-description">Penanda awal tembang</div>
    </div>

    <div class="g-col-md-1 g-col-3">
        <div class="aksara-name">Madya Pada</div>
        <div class="aksara-text-small d-block text-center mb-5">꧅ꦟ꧀ꦢꦿ꧅</div>
        <div class="aksara-description">Penanda pergantian tembang</div>
    </div>

    <div class="g-col-md-1 g-col-3">
        <div class="aksara-name">Wasana Pada</div>
        <div class="aksara-text-small d-block text-center mb-5">꧅ꦆ꧅</div>
        <div class="aksara-description">Penanda akhir tembang</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Pepadan dalam Penulisan Tembang</h3>

<div class="aksara-wrapper">
    <div class="text-center mb-3">
        <div class="d-inline-block">
            <div class="aksara-text-small d-block">꧃ꦔ꧀ꦖ꧃</div>
            <div class="aksara-transliteration">​</div>
        </div>
        <div class="d-inline-block ms-md-3 ms-2">
            <div class="aksara-text d-block">ꦥꦁ</div>
            <div class="aksara-transliteration">pang</div>
        </div>
        <div class="d-inline-block me-md-3 me-2">
            <div class="aksara-text d-block">ꦏꦸꦂ</div>
            <div class="aksara-transliteration">kur</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text-small d-block">꧃ꦔ꧀ꦖ꧃</div>
            <div class="aksara-transliteration">​</div>
        </div>
    </div>

    <div class="mb-3">
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩꦶꦁ</div>
            <div class="aksara-transliteration">ming</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦂ</div>
            <div class="aksara-transliteration">kar</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩꦶꦁ</div>
            <div class="aksara-transliteration">ming</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦸꦂ</div>
            <div class="aksara-transliteration">kur</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦫꦶꦁ</div>
            <div class="aksara-transliteration">ing</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲꦁ</div>
            <div class="aksara-transliteration">ang</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏ</div>
            <div class="aksara-transliteration">ka</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦫ</div>
            <div class="aksara-transliteration">ra</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>

        <br>

        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲ</div>
            <div class="aksara-transliteration">a</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏ</div>
            <div class="aksara-transliteration">ka</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦫ</div>
            <div class="aksara-transliteration">ra</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤ</div>
            <div class="aksara-transliteration">na</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏ</div>
            <div class="aksara-transliteration">ka</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦉ</div>
            <div class="aksara-transliteration">rê</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤ</div>
            <div class="aksara-transliteration">na</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤ꧀ꦩꦂ</div>
            <div class="aksara-transliteration">n mar</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦢ</div>
            <div class="aksara-transliteration">da</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦱꦶ</div>
            <div class="aksara-transliteration">si</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦮꦶ</div>
            <div class="aksara-transliteration">wi</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>
        
        <br>

        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦱꦶ</div>
            <div class="aksara-transliteration">si</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤ</div>
            <div class="aksara-transliteration">na</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦮꦸꦁ</div>
            <div class="aksara-transliteration">wung</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦉ</div>
            <div class="aksara-transliteration">rê</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦱ꧀ꦩꦶ</div>
            <div class="aksara-transliteration">smi</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤꦶꦁ</div>
            <div class="aksara-transliteration">ning</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦶ</div>
            <div class="aksara-transliteration">ki</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦢꦸꦁ</div>
            <div class="aksara-transliteration">dung</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>
        
        <br>

        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦱꦶ</div>
            <div class="aksara-transliteration">si</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤꦸ</div>
            <div class="aksara-transliteration">nu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦧ</div>
            <div class="aksara-transliteration">ba</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦱꦶ</div>
            <div class="aksara-transliteration">si</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤꦸ</div>
            <div class="aksara-transliteration">nu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦂ</div>
            <div class="aksara-transliteration">kar</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠ</div>
            <div class="aksara-transliteration">ta</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>
        
        <br>

        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩꦿꦶꦃ</div>
            <div class="aksara-transliteration">mrih</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦼ</div>
            <div class="aksara-transliteration">kê</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠꦂ</div>
            <div class="aksara-transliteration">tar</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠ</div>
            <div class="aksara-transliteration">ta</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦥꦸ</div>
            <div class="aksara-transliteration">pu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦂ</div>
            <div class="aksara-transliteration">kar</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠꦶ</div>
            <div class="aksara-transliteration">ti</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤꦶꦁ</div>
            <div class="aksara-transliteration">ning</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲꦶ</div>
            <div class="aksara-transliteration">i</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦭ꧀ꦩꦸ</div>
            <div class="aksara-transliteration">lmu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦭꦸ</div>
            <div class="aksara-transliteration">lu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲꦸꦁ</div>
            <div class="aksara-transliteration">hung</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>
        
        <br>
        
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦏꦁ</div>
            <div class="aksara-transliteration">kang</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠꦸ</div>
            <div class="aksara-transliteration">tu</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩꦿ</div>
            <div class="aksara-transliteration">mra</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦥ꧀ꦲꦶꦁ</div>
            <div class="aksara-transliteration">p ing</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦠ</div>
            <div class="aksara-transliteration">ta</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦤꦃ</div>
            <div class="aksara-transliteration">nah</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦗ</div>
            <div class="aksara-transliteration">ja</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦮ</div>
            <div class="aksara-transliteration">wa</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧈</div>
            <div class="aksara-transliteration">.</div>
        </div>

        <br>
        
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲ</div>
            <div class="aksara-transliteration">a</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦒ</div>
            <div class="aksara-transliteration">ga</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩ</div>
            <div class="aksara-transliteration">ma</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲ</div>
            <div class="aksara-transliteration">a</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦒꦼ</div>
            <div class="aksara-transliteration">gê</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦩ꧀ꦩꦶꦁ</div>
            <div class="aksara-transliteration">ming</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦲ</div>
            <div class="aksara-transliteration">a</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">ꦗꦶ</div>
            <div class="aksara-transliteration">ji</div>
        </div>
        <div class="d-inline-block">
            <div class="aksara-text d-block">꧉</div>
            <div class="aksara-transliteration">.</div>
        </div>
    </div>

    <div class="text-center">
        <div class="d-inline-block">
            <div class="aksara-text-small d-block">꧃ꦆ꧃</div>
            <div class="aksara-transliteration">​</div>
        </div>
    </div>
</div>

<blockquote class="wp-block-quote"><p><strong>Pangkur</strong></p><p>Mingkar-mingkuring angkara<br>Akarana karênan marda siwi<br>Sinawung rêsmining kidung<br>Sinuba sinukarta<br>Mrih kêtarta pukartining ilmu luhung<br>Kang tumrap ing tanah jawa<br>Agama agêming aji</p><cite>Sêrat Wedatama, Tembang Pangkur, Bait Pertama</cite></blockquote>