<div class="aksara-wrapper wrapper-sandangan grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-name">Pengkal</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦏ">ꦏꦾ</span>
        </div>
        <div class="aksara-transliteration">k<b>y</b>a</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-name">Cakra</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦏꦿ">ꦏꦿ</span>
        </div>
        <div class="aksara-transliteration">k<b>r</b>a</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-name">Cakra Kêrêt</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦏꦽ">ꦏꦽ</span>
        </div>
        <div class="aksara-transliteration">k<b>rê</b></div>
    </div>
</div>

<h4 class="wp-block-heading">Contoh Penggunaan Sandangan Wyanjana</h4>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦒꦼ</div>
                <div class="aksara-transliteration">gê</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦩꦼ</div>
                <div class="aksara-transliteration">mê</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦧꦾꦂ</div>
                <div class="aksara-transliteration">byar</div>
            </div>
        </div>
        <div class="aksara-translation">gêmêrlap</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦧꦸ</div>
                <div class="aksara-transliteration">bu</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦧꦿꦃ</div>
                <div class="aksara-transliteration">brah</div>
            </div>
        </div>
        <div class="aksara-translation">rusak</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦱꦽ</div>
                <div class="aksara-transliteration">srê</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦔꦺ</div>
                <div class="aksara-transliteration">nge</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦔꦺ</div>
                <div class="aksara-transliteration">nge</div>
            </div>
        </div>
        <div class="aksara-translation">matahari</div>
    </div>
</div>