<div class="aksara-wrapper wrapper-sandangan grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-name">Wignyan</div>
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦏ">ꦏꦃ</span>
        </div>
        <div class="aksara-transliteration">ka<b>h</b></div>
    </div>

    <div class="g-col-1">
        <div class="aksara-name">Layar</div>
        <div class="aksara-text">
            <span class="diacritic-top" data-content="ꦏꦂ">ꦏꦂ</span>
        </div>
        <div class="aksara-transliteration">ka<b>r</b></div>
    </div>

    <div class="g-col-1">
        <div class="aksara-name">Cecak</div>
        <div class="aksara-text">
            <span class="diacritic-top" data-content="ꦏꦁ">ꦏꦁ</span>
        </div>
        <div class="aksara-transliteration">ka<b>ng</b></div>
    </div>

    <div class="g-col-1">
        <div class="aksara-name">Pangkon</div>
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦏ">ꦏ꧀</span>
        </div>
        <div class="aksara-transliteration"><b>k</b></div>
    </div>
</div>

<h4 class="wp-block-heading">Keterangan</h4>

<ul><li>Pangkon (​<strong>꧀</strong>) hanya digunakan di akhir kalimat atau kata, gunakan Pasangan untuk membuat huruf mati di tengah kata atau kalimat.</li></ul>

<h4 class="wp-block-heading">Contoh Penggunaan Sandangan Panyigeg</h4>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦲꦺꦴ</div>
                <div class="aksara-transliteration r">o</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦮꦃ</div>
                <div class="aksara-transliteration r">wah</div>
            </div>
        </div>
        <div class="aksara-translation">berubah</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦲ</div>
                <div class="aksara-transliteration r">a</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦚꦂ</div>
                <div class="aksara-transliteration r">nyar</div>
            </div>
        </div>
        <div class="aksara-translation">baru</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦱꦼ</div>
                <div class="aksara-transliteration r">sê</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦠꦸꦁ</div>
                <div class="aksara-transliteration r">tung</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦒ</div>
                <div class="aksara-transliteration r">ga</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦭ꧀</div>
                <div class="aksara-transliteration r">l</div>
            </div>
        </div>
        <div class="aksara-translation">satu</div>
    </div>
</div>