<div class="paginator">
  <% if (page.total > 1){ %>
    <%- paginator({
        prev_text: __('before'),
        next_text: __('next')
    }) %>
  <% } else { %>
    <%= __('postEnds') %>
  <% } %>
</div>