<div class="aksara-wrapper grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦄꦴ</div>
        <div class="aksara-transliteration">Ā</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦇ</div>
        <div class="aksara-transliteration">Ī</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦈꦴ</div>
        <div class="aksara-transliteration">Ū</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦍ</div>
        <div class="aksara-transliteration">Ai</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦎꦴ</div>
        <div class="aksara-transliteration">Eu</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Swara Dirga</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦍ</div>
                <div class="aksara-transliteration">Ai</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦭ꧀ꦭꦂ</div>
                <div class="aksara-transliteration">rla</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦔ꧀ꦒ</div>
                <div class="aksara-transliteration">ngga</div>
            </div>
        </div>
        <div class="aksara-translation">Airlangga</div>
        <div class="aksara-description">(bhs Kawi)</div>
    </div>
</div>