#### Aksara Wyanjana Lainnya Beserta Pasangannya

<div class="aksara-wrapper grid" style="--bs-columns: 20; --bs-gap: 0;">
    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Ca Murda</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦖ꧀ꦖ">ꦖ꧀ꦖ</span>
        </div>
        <div class="aksara-transliteration">ca</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Ra Agung</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦬ꧀ꦬ">ꦬ꧀ꦬ</span>
        </div>
        <div class="aksara-transliteration">ra</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Ka Sasak</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦐ꧀ꦐ">ꦐ꧀ꦐ</span>
        </div>
        <div class="aksara-transliteration">qa</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Da Mahaprana</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦣ꧀ꦣ">ꦣ꧀ꦣ</span>
        </div>
        <div class="aksara-transliteration">da</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Sa Mahaprana</div>
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦰ">ꦰ꧀ꦰ</span>
        </div>
        <div class="aksara-transliteration">ṣa</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Dha Mahaprana</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦞ꧀ꦞ">ꦞ꧀ꦞ</span>
        </div>
        <div class="aksara-transliteration">ḍha</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Ja Mahaprana</div>
        <div class="aksara-text">
            <span class="diacritic-right" data-content="ꦙ">ꦙ &ZeroWidthSpace;꧀ꦙ</span>
        </div>  
        <div class="aksara-transliteration">jha</div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Tha Mahaprana</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦜ꧀ꦜ">ꦜ꧀ꦜ</span>
        </div>
        <div class="aksara-transliteration">ṭha</div>
    </div>
</div>

{%- include belajar-aksara-jawa/keterangan-warna-aksara.html -%}

<h4 id="keterangan">Keterangan</h4>

<ul>
    <li>Aksara Ca Murda (ꦖ) hanya teratestasi dalam bentuk pasangan, bentuk aksara dasarnya merupakan rekonstruksi kontemporer</li>
    <li>Aksara Ra Agung (ꦬ) memiliki fungsi yang serupa dengan Aksara Murda lainnya namun tidak dikenal secara luas karena penggunaannya yang terbatas di lingkungan keraton</li>
    <li>Aksara Ka Sasak (ꦐ) digunakan dalam penulisan bahasa Sasak</li>
    <li>Aksara Mahaprana tidak memiliki fungsi dalam penulisan bahasa Jawa modern dan hanya digunakan dalam penulisan bahasa Sanskerta-Kawi</li>
</ul>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦮ</div>
                <div class="aksara-transliteration">wa</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦠ꧀ꦰ</div>
                <div class="aksara-transliteration">tṣa</div>
            </div>
        </div>
        <div class="aksara-translation">watṣa</div>
        <div class="aksara-description">(bhs Kawi)</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦥꦴ</div>
                <div class="aksara-transliteration">pā</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦟ꧀ꦝ</div>
                <div class="aksara-transliteration">nda</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦮ</div>
                <div class="aksara-transliteration">wa</div>
            </div>
        </div>
        <div class="aksara-translation">pāndawa</div>
        <div class="aksara-description">(bhs Kawi)</div>
    </div>
</div>
