<h3 class="wp-block-heading">Aksara Rekan Menurut <a href="https://commons.wikimedia.org/w/index.php?title=File:Handleiding_bij_de_beoefening_der_Javaansche_Taal_1886.pdf&amp;page=13" data-type="URL" data-id="https://commons.wikimedia.org/w/index.php?title=File:Handleiding_bij_de_beoefening_der_Javaansche_Taal_1886.pdf&amp;page=13" target="_blank" rel="noreferrer noopener">Hollander</a></h3>

<div class="aksara-wrapper grid" style="--bs-columns: 5">
    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦲ꦳</div>
        <div class="aksara-transliteration">ha</div>
        <div class="aksara-description">(ح)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦏ꦳</div>
        <div class="aksara-transliteration">kha</div>
        <div class="aksara-description">(خ)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦐ</div>
        <div class="aksara-transliteration">qa</div>
        <div class="aksara-description">(ق)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦕ꦳</div>
        <div class="aksara-transliteration">dza</div>
        <div class="aksara-description">(ذ)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦱ꦳</div>
        <div class="aksara-transliteration">sya</div>
        <div class="aksara-description">(ش)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦥ꦳</div>
        <div class="aksara-transliteration">fa/va</div>
        <div class="aksara-description">(ف)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦗ꦳</div>
        <div class="aksara-transliteration">za</div>
        <div class="aksara-description">(ز)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦒ꦳</div>
        <div class="aksara-transliteration">gha</div>
        <div class="aksara-description">(غ)</div>
    </div>

    <div class="g-col-1">
        <div class="aksara-text d-block text-center">ꦔ꦳</div>
        <div class="aksara-transliteration">‘a</div>
        <div class="aksara-description">(ع)</div>
    </div>
</div>

<h3 class="wp-block-heading">Contoh Penggunaan Aksara Rekan</h3>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦗ꦳ꦻ</div>
                <div class="aksara-transliteration">zai</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦤꦸ</div>
                <div class="aksara-transliteration">nu</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦭ꧀</div>
                <div class="aksara-transliteration">l</div>
            </div>
        </div>
        <div class="aksara-translation">zainul</div>
    </div>
–
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦥ꦳ꦶꦂ</div>
                <div class="aksara-transliteration">fir</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦢ</div>
                <div class="aksara-transliteration">da</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦲꦸ</div>
                <div class="aksara-transliteration">u</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦱ꧀</div>
                <div class="aksara-transliteration">s</div>
            </div>
        </div>
        <div class="aksara-translation">firdaus</div>
    </div>
</div>