<div class="aksara-wrapper wrapper-sandangan grid" style="--bs-columns: 20;">
    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Wulu</div>
        <div class="aksara-text">
            <span class="diacritic-top" data-content="ꦏꦶ">ꦏꦶ</span>
        </div>
        <div class="aksara-transliteration">k<b>i</b></div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Suku</div>
        <div class="aksara-text">
            <span class="diacritic-below" data-content="ꦏꦸ">ꦏꦸ</span>
        </div>
        <div class="aksara-transliteration">k<b>u</b></div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Pêpêt</div>
        <div class="aksara-text">
            <span class="diacritic-top" data-content="ꦏꦼ">ꦏꦼ</span>
        </div>
        <div class="aksara-transliteration">k<b>ê</b></div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Taling</div>
        <div class="aksara-text">
            <span class="diacritic-left" data-content="ꦏꦺ">ꦏꦺ</span>
        </div>
        <div class="aksara-transliteration">k<b>e</b></div>
    </div>

    <div class="g-col-5 g-col-md-4 d-flex flex-column">
        <div class="aksara-name mt-auto">Taling-Tarung</div>
        <div class="aksara-text">
            <span class="diacritic-left diacritic-right" data-content="ꦏꦺ">ꦏꦺꦴ</span>
        </div>
        <div class="aksara-transliteration">k<b>o</b></div>
    </div>
</div>

<h4>Contoh Penggunaan Sandhangan Swara</h4>

<div class="aksara-wrapper d-flex align-items-center overflow-x-scroll overflow-x-md-auto">
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦧ</div>
                <div class="aksara-transliteration">ba</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦚꦸ</div>
                <div class="aksara-transliteration">nyu</div>
            </div>
        </div>
        <div class="aksara-translation">air</div>
    </div>
–
    <div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦏꦺꦴ</div>
                <div class="aksara-transliteration">ko</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦮꦺ</div>
                <div class="aksara-transliteration">we</div>
            </div>
        </div>
        <div class="aksara-translation">kamu</div>
    </div>
–
<div class="aksara-example">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦩꦼ</div>
                <div class="aksara-transliteration">mê</div>
            </div>
            <div class="d-inline-block me-1">
                <div class="aksara-text d-block text-center">ꦤ</div>
                <div class="aksara-transliteration">na</div>
            </div>
            <div class="d-inline-block">
                <div class="aksara-text d-block text-center">ꦮꦶ</div>
                <div class="aksara-transliteration">wi</div>
            </div>
        </div>
        <div class="aksara-translation">barangkali</div>
    </div>
</div>