<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="d-flex flex-column">
    {%- include header.html -%}
    <div class="container d-flex flex-column justify-content-center align-items-center flex-grow-1" id="content" tabindex="-1">
        {{ content }}
    </div>
    {%- include footer.html -%}
  </body>
  <script src="{{ 'assets/js/theme-toggle.js' | absolute_url }}" type="text/javascript"></script>
  <script src="{{ 'assets/js/bootstrap.min.js' | absolute_url }}" type="text/javascript"></script>
</html>