---
layout: base
---
<div class="wrapper" id="wrapper-page">
	<div class="container" id="content" tabindex="-1">
		<div class="row">
			<main class="site-main" id="main">
                <article class="hentry">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ page.title | escape }}</h1>
                        <div class="entry-meta">
                            <span class="byline">
                                <span class="author vcard"> 
                                    <a class="url fn n" href="{{ site.baseurl | relative_url }}">{{ site.author }}</a>
                                </span>
                            </span>
                            - 
                            <span class="posted-on">
                                <a href="#" rel="bookmark">
                                    <time class="entry-date published" datetime="{{ page.date }}">
                                        {{ page.date | date: "%d" }}
                                        {% assign m = page.date | date: "%-m" %}
                                        {% case m %}
                                            {% when '1' %}Januari
                                            {% when '2' %}Febbruari
                                            {% when '3' %}Maret
                                            {% when '4' %}April
                                            {% when '5' %}Mei
                                            {% when '6' %}Juni
                                            {% when '7' %}Juli
                                            {% when '8' %}Agustus
                                            {% when '9' %}September
                                            {% when '10' %}Oktober
                                            {% when '11' %}November
                                            {% when '12' %}Desember
                                        {% endcase %}
                                        {{ page.date | date: "%Y" }}
                                    </time>
                                </a>
                            </span>
                        </div><!-- .entry-meta -->
                    </header>

                    {%- if page.excerpt -%}
                        <div class="entry-content">
                            {{ content | remove_first:page.excerpt }}
                        </div>
                    {%- else -%}
                        <div class="entry-content">
                            {{ content }}
                        </div>
                    {%- endif -%}

                </article><!-- #post-## -->

                <br/>

                <div class="ellipsis-separator pt-0">
                    <span class="ellipsis-dot"></span>
                    <span class="ellipsis-dot"></span>
                    <span class="ellipsis-dot"></span>
                </div>

                <p class="text-center mb-2">Tinggalkan tepuk tangan jika  artikel ini bermanfaat</p>
                
                <div class="d-block">
                    <div class="d-flex justify-content-center">
                        <applause-button style="display: block; height: 36px; width: 36px; margin-top: 1.2rem" color="#929EC9" multiclap="true" url="{{ page.url | absolute_url }}"/>
                    </div>
                </div>

                <div class="ellipsis-separator pt-0">
                    <span class="ellipsis-dot"></span>
                    <span class="ellipsis-dot"></span>
                    <span class="ellipsis-dot"></span>
                </div>

                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                      this.page.url = "{{ page.url | absolute_url }}";
                    };
                    
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://adityarahmanda.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();

                    // Disqus theme switching
                    document.addEventListener('colorSchemeChanged', function (e) {
                        if (document.readyState == 'complete') {
                            DISQUS.reset({ reload: true, config: disqus_config });
                        }
                    });
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

			</main><!-- #main -->
		</div><!-- .row -->
	</div><!-- #content -->
</div>
