---
layout: base
---
{% assign page_language = page.collection | default: page.translation_reference | default: "none" %}
{% assign translations = site.translations[page_language] %}

<div class="row">
    <div class="col-md-8 content-area" id="primary">
        {%- if site[page_language].size > 0 -%}
            {%- for post in site[page_language] reversed -%}
                {% if post.path contains "/articles/" %}
                    <article class="mb-4 post hentry">
                        <header class="entry-header">
                            <h3 class="entry-title">
                                <a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a></h3>
                        </header><!-- .entry-header -->
                        <div class="entry-excerpt">
                            <p>{{ post.excerpt | strip_html }}</p>
                            <div>
                                <a class="read-more-link" href="{{ post.url | relative_url }}">{{ translations.read_more }}</a></div>
                        </div><!-- .entry-excerpt -->
                    </article>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-4 widget-area" id="right-sidebar">
        <aside class="widget widget-search">
            <form role="search" method="get">
                <div class="widget-search-wrapper d-flex">
                    <input type="search" class="widget-search-input flex-grow-1" name="s">
                    <button type="submit" class="widget-search-button">{{ translations.search }}</button>
                </div>
            </form>
        </aside>
    </div>
</div>
