<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  {%- if site.skin -%}
  <body class="d-flex flex-column {{ site.skin }}">
  {%- else -%}
  <body class="d-flex flex-column">
  {%- endif -%}
    {%- include header.html -%}
    <div class="container flex-grow-1" id="content" tabindex="-1">
      <div class="row">
        <main class="site-main col-md" id="wrapper-archive-work">
        {{ content }}
        </main>
      </div>
    </div>
    {%- include footer.html -%}
    <script src="{{ 'assets/js/applause-button.js' | absolute_url }}"></script>
  </body>
</html>