---
layout: base
---
{% assign page_language = page.collection | default: page.translation_reference | default: "none" %}
{% assign translations = site.translations[page_language] %}

<div id="wrapper-hero">
	<h1 class="hero-title">{{ page.hero_text }}</h1>
	<div class="hero-description">{{ content }}</div>
	<div class="hero-buttons">
		<a href="{{ page.resume_url }}" target="_blank">{{ translations.resume }}</a>
	</div>
</div>

<div id="wrapper-works">
	<h3 class="works-title">{{ translations.works }}</h3>
	{%- if site[page_language].size > 0 -%}
		{%- for post in site[page_language] reversed -%}
			{% if post.path contains "/posts/" %}
				<article class="mb-4 hentry">
					<div class="row">
						<div class="col-md-8">
							<header class="entry-header">
								<h3 class="entry-title">
									<a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a>
								</h3>
								{%- if post.external-links -%}
									<div class="entry-meta mb-3">
										{%- for external-link in post.external-links -%}
											<a href="{{ external-link.url | relative_url }}" class="btn btn-primary text-white rounded-pill me-2" target="_blank">
												{%- if external-link.is-brand -%}
													<i class="fab fa-{{ external-link.icon }} me-2"></i>{{ external-link.text | escape }}
												{%- else -%}
													<i class="fa fa-{{ external-link.icon }} me-2"></i>{{ external-link.text | escape }}
												{%- endif -%}
											</a>
										{%- endfor -%}
									</div> <!-- .entry-meta -->
								{%- endif -%}
							</header><!-- .entry-header -->
							<div class="entry-excerpt">
								<p>{{ post.excerpt }}</p>
							</div><!-- .entry-content -->
						</div> <!-- col end -->
						<div class="col-md-4">
						{%- if post.labels or post.tools -%}
							<div class="entry-taxonomies mb-3">
							{%- if post.labels -%}
								<div class="entry-tags">
									<div class="entry-tags-heading">{{ translations.labels }}</div>
									<ul class="tag-list"> 
										{%- for label in post.labels -%}
											<li class="tag-list-item mb-3">
												<a href="#" rel="category tag">{{ label }}</a>
											</li> 
										{%- endfor -%}
									</ul> <!-- dev-tool-list -->
								</div> <!-- .entry-tags-->
							{%- endif -%}

							{%- if post.tools -%}
								<div class="entry-dev-tools">
									<div class="entry-dev-tools-heading">{{ translations.tools }}</div>
									<ul class="dev-tool-list"> 
										{%- for tool in post.tools -%}
											<li class="dev-tool-list-item"> 
												<a href="#" rel="category tag">{{ tool }}</a> 
											</li>
										{%- endfor -%}
									</ul> <!-- dev-tool-list -->
								</div> <!-- .entry-dev-tools-->
							{%- endif -%}
							</div><!-- .entry-taxonomies -->
						{%- endif -%}
						</div> <!-- col end -->
					</div> <!-- row end -->
					<div class="entry-thumbnail mb-3">
						{%- if post.thumbnail -%}
							<img class="full-width-image" src="{{ post.thumbnail | prepend: site.baseurl | prepend: site.url }}" alt="Keluku" />
						{%- endif -%}
					</div>
					<div>
						<a class="read-more-link" href="{{ post.url | relative_url }}">{{ translations.read_more }}</a>
					</div>
				</article>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
