<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}" data-theme="dark">
    <script type="text/javascript">
            window.location.href = "{{ page.redirect }}"
    </script>
      {%- include head.html -%}
      <body class="d-flex flex-column">
        {%- include header.html -%}
        <div class="container flex-grow-1" id="content" tabindex="-1">
          <div class="row">
            <main class="site-main col-md" id="wrapper-archive-work">
                If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link</a>.
            </main>
          </div>
        </div>
        {%- include footer.html -%}
        <script src="{{ 'assets/js/theme-toggle.js' | absolute_url }}" type="text/javascript"></script>
        <script src="{{ 'assets/js/applause-button.js' | absolute_url }}" type="text/javascript"></script>
        <!-- <script src="{{ 'assets/js/popper.min.js' | absolute_url }}" type="text/javascript"></script> -->
        <script src="{{ 'assets/js/bootstrap.min.js' | absolute_url }}" type="text/javascript"></script>
      </body>
    </html>